
<!DOCTYPE html>
<html>
<head>
	<title>Owner Longin</title>
</head>
<body>
	<form action="http://localhost/Hw5/configs/config.php" method="POST">
		<fieldset>
			<legend>Login Information</legend>
			 User Name:<br>
			<input type="text" name="user"><br>
			Password:<br>
			<input type="text" name="ps" required>
			<input type="submit" value="Log In" name="login" required>
			<br>
			<br>
		</fieldset>
	</form>
	Click here to clean <a href = "logout.php" tite = "Logout">Session.
</body>
</html>


