<!DOCTYPE html>
<html>
<head>
	<title>Your Reward</title>
</head>
<body>
  <h1>Here is your reward</h1>
	<form action="action_page.php">
		<fieldset>
			<legend>Personal information:</legend>
 				Email Address:<br>
 				<input type="text" name="email" value="Email Address"><br>
 				<br>
			  Reward Type:<br>
 			<select>
  			<option value="balance">Rewards Balance </option>
  			<option value="coupon">Rewards Coupon </option>
 			</select>
		<input type="submit" value="GO">
		</fieldset>

</form>
</body>
</html>
